body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    padding: 50px 0;
}

h2 {
    margin-bottom: 30px;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
}

.skills-container {
    flex-wrap: wrap;
}

.skill img {
    width: 80px;
    height: 80px;
}

.experience-item {
    margin-bottom: 20px;
}
.project-image {
    padding: 10px;
    object-fit: cover;
}
